Lib Imports

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import pickle

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Importing Pydrive and related libraries


from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Data Import

In [ ]:
# Load dataset into a pandas dataframe objecte named 'my_data
# complete code below
my_data = pd.read_csv('data.csv',low_memory=False, lineterminator='\n')
print(my_data)

FileNotFoundError: ignored

In [ ]:
my_data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built\r
0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955
1,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921
2,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966
3,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963
4,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976

In [ ]:
my_data.tail()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built\r
4595,308166.666667,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954
4596,534333.333333,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983
4597,416904.166667,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009
4598,203400.000000,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974
4599,220600.000000,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990

In [ ]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          4600 non-null   float64
 1   bedrooms       4600 non-null   float64
 2   bathrooms      4600 non-null   float64
 3   sqft_living    4600 non-null   int64
 4   sqft_lot       4600 non-null   int64
 5   floors         4600 non-null   float64
 6   waterfront     4600 non-null   int64
 7   view           4600 non-null   int64
 8   condition      4600 non-null   int64
 9   sqft_above     4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
      4600 non-null   int64
dtypes: float64(4), int64(8)
memory usage: 431.4 KB

In [ ]:
print(my_data)

             price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0     3.130000e+05       3.0       1.50         1340      7912     1.5
1     2.384000e+06       5.0       2.50         3650      9050     2.0
2     3.420000e+05       3.0       2.00         1930     11947     1.0
3     4.200000e+05       3.0       2.25         2000      8030     1.0
4     5.500000e+05       4.0       2.50         1940     10500     1.0
...            ...       ...        ...          ...       ...     ...
4595  3.081667e+05       3.0       1.75         1510      6360     1.0
4596  5.343333e+05       3.0       2.50         1460      7573     2.0
4597  4.169042e+05       3.0       2.50         3010      7014     2.0
4598  2.034000e+05       4.0       2.00         2090      6630     1.0
4599  2.206000e+05       3.0       2.50         1490      8102     2.0

      waterfront  view  condition  sqft_above  sqft_basement  yr_built\r
0              0     0          3        1340              0        1955
1              0     4          5        3370            280        1921
2              0     0          4        1930              0        1966
3              0     0          4        1000           1000        1963
4              0     0          4        1140            800        1976
...          ...   ...        ...         ...            ...         ...
4595           0     0          4        1510              0        1954
4596           0     0          3        1460              0        1983
4597           0     0          3        3010              0        2009
4598           0     0          3        1070           1020        1974
4599           0     0          4        1490              0        1990

[4600 rows x 12 columns]

In [ ]:
My_Data_Null=my_data[my_data.isna().any(axis=1)]

My_Data_Null

Empty DataFrame
Columns: [price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, sqft_above, sqft_basement, yr_built
]
Index: []

In [ ]:
# remove rows with missing values e.g. NaN values as our algorithms only work with numbers

print('DataFrame after dropping the rows where all the values were null values:')
My_data_3 = print(my_data.dropna())

My_data_3

DataFrame after dropping the rows where all the values were null values:
             price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0     3.130000e+05       3.0       1.50         1340      7912     1.5
1     2.384000e+06       5.0       2.50         3650      9050     2.0
2     3.420000e+05       3.0       2.00         1930     11947     1.0
3     4.200000e+05       3.0       2.25         2000      8030     1.0
4     5.500000e+05       4.0       2.50         1940     10500     1.0
...            ...       ...        ...          ...       ...     ...
4595  3.081667e+05       3.0       1.75         1510      6360     1.0
4596  5.343333e+05       3.0       2.50         1460      7573     2.0
4597  4.169042e+05       3.0       2.50         3010      7014     2.0
4598  2.034000e+05       4.0       2.00         2090      6630     1.0
4599  2.206000e+05       3.0       2.50         1490      8102     2.0

      waterfront  view  condition  sqft_above  sqft_basement  yr_built\r
0              0     0          3        1340              0        1955
1              0     4          5        3370            280        1921
2              0     0          4        1930              0        1966
3              0     0          4        1000           1000        1963
4              0     0          4        1140            800        1976
...          ...   ...        ...         ...            ...         ...
4595           0     0          4        1510              0        1954
4596           0     0          3        1460              0        1983
4597           0     0          3        3010              0        2009
4598           0     0          3        1070           1020        1974
4599           0     0          4        1490              0        1990

[4600 rows x 12 columns]

In [ ]:
My_data_3.info()

AttributeError: ignored

In [ ]:
# Choose target features, complete the line below
y = my_data[]

# Choose input features, complete the lines below
features = []
X =

Model Training i.e. use the cells below to create and train a Random Forest Regresor Model

In [ ]:
model =

Make Predctions fro the two houses below using your model created above.

In [ ]:
house_one = [4, 4, 4440, 5480, 2, 0, 3, 5, 3140, 1400, 2012]
house_two = [1, 2, 100, 200, 1, 0, 2, 4, 300, 00, 1998]

In [ ]:
# print predicited price for house 1

In [ ]:
# print predicited price for house 2

Save Your Model

In [ ]:
import pickle

# Saving model to disk, the model should be save using your studnet number e.g. 12345.pk for someone who has 12345 as their student number
pickle.dump()

The End